
@{
    ViewData["Title"] = "View1";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12 left" style="height: 20px;">
            <div class="card card-primary card-his">
                <div class="card-header card-shadow">
                    <h2>Administracion de Roles</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row">


        <div class="col-sm-12" style="border: 1px solid rgba(128, 128, 128, 0.29);
                         border-radius: 9px;
                         margin-top: 1rem;
                       }">
            <div class="row pb-2 text-left">
                <div class="col-sm-12" style="display: none;">
                    <button class="btn btn-primary mt-4 pt-1" id="Crear">
                        <i class="far fa-credit-card"></i>
                        CAJA
                    </button>
                    <button class="btn btn-primary mt-4 pt-1 ml-1" id="Crear"> <i class="far fa-clock"></i> CITA</button>
                    <button class="btn btn-primary mt-4 pt-1 ml-1" id="Crear"><i class="fas fa-flask"></i> laboratorio</button>
                    <button class="btn btn-primary mt-4 pt-1 ml-1" id="Crear"><i class="far fa-image"></i> imagenes</button>
                    <button class="btn btn-primary mt-4 pt-1 ml-1" style="display:none" id="Crear"><i class="fas fa-user-check"></i>Listado Paciente</button>
                    <button class="btn btn-primary mt-4 pt- ml-1" id="Crear"><i class="fas fa-clinic-medical"></i> Interconsulta</button>
                </div>

            </div>



            <div class="row pt-3">
                <div class="col-sm-12">

                    <table id="example" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Opciones</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Tiger Nixon</td>
                                <td>
                                    description
                                </td>
                                <td>
                                    <div class="opciones">
                                        <i class="fas fa-edit"></i>
                                        <i class="far fa-list-alt"></i>
                                        <i class="fas fa-trash-alt trash"></i>

                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Garrett Winters</td>
                                <td>
                                    description
                                </td>
                                <td>
                                    <div class="opciones">
                                        <i class="fas fa-edit"></i>
                                        <i class="far fa-list-alt"></i>
                                        <i class="fas fa-trash-alt trash"></i>

                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Ashton Cox</td>
                                <td>
                                    description
                                </td>
                                <td>
                                    <div class="opciones">
                                        <i class="fas fa-edit"></i>
                                        <i class="far fa-list-alt"></i>
                                        <i class="fas fa-trash-alt trash"></i>

                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Cedric Kelly</td>
                                <td>
                                    description
                                </td>
                                <td>
                                    <div class="opciones">
                                        <i class="fas fa-edit"></i>
                                        <i class="far fa-list-alt"></i>
                                        <i class="fas fa-trash-alt trash"></i>

                                    </div>
                                </td>

                            </tr>
                            <tr>

                                <td>4</td>
                                <td>Airi Satou</td>
                                <td>
                                    description
                                </td>
                                <td>
                                    <div class="opciones">
                                        <i class="fas fa-edit"></i>
                                        <i class="far fa-list-alt"></i>
                                        <i class="fas fa-trash-alt trash"></i>

                                    </div>
                                </td>

                            </tr>
                            <tr>

                                <td>6</td>
                                <td>Brielle Williamson</td>
                                <td>
                                    description
                                </td>
                                <td>
                                    <div class="opciones">
                                        <i class="fas fa-edit"></i>
                                        <i class="far fa-list-alt"></i>
                                        <i class="fas fa-trash-alt trash"></i>

                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>7</td>
                                <td>Herrod Chandler</td>
                                <td>
                                    description
                                </td>
                                <td>
                                    <div class="opciones">
                                        <i class="fas fa-edit"></i>
                                        <i class="far fa-list-alt"></i>
                                        <i class="fas fa-trash-alt trash"></i>

                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>8</td>
                                <td>Rhona Davidson</td>

                                <td>
                                    description
                                </td>
                                <td>
                                    <div class="opciones">
                                        <i class="fas fa-edit"></i>
                                        <i class="far fa-list-alt"></i>
                                        <i class="fas fa-trash-alt trash"></i>

                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>9</td>
                                <td>Javascript Developer</td>
                                <td>
                                    description
                                </td>
                                <td>
                                    <div class="opciones">
                                        <i class="fas fa-edit"></i>
                                        <i class="far fa-list-alt"></i>
                                        <i class="fas fa-trash-alt trash"></i>

                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>10</td>
                                <td>Software Engineer</td>
                                <td>
                                    description
                                </td>
                                <td>
                                    <div class="opciones">
                                        <i class="fas fa-edit"></i>
                                        <i class="far fa-list-alt"></i>
                                        <i class="fas fa-trash-alt trash"></i>

                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>11</td>
                                <td>Office Manager</td>
                                <td>
                                    description
                                </td>
                                <td>
                                    <div class="opciones">
                                        <i class="fas fa-edit"></i>
                                        <i class="far fa-list-alt"></i>
                                        <i class="fas fa-trash-alt trash"></i>

                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>12</td>
                                <td>Support Lead</td>
                                <td>
                                    description
                                </td>
                                <td>
                                    <div class="opciones">
                                        <i class="fas fa-edit"></i>
                                        <i class="far fa-list-alt"></i>
                                        <i class="fas fa-trash-alt trash"></i>

                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>13</td>
                                <td>Regional Director</td>
                                <td>
                                    description
                                </td>
                                <td>
                                    <div class="opciones">
                                        <i class="fas fa-edit"></i>
                                        <i class="far fa-list-alt"></i>
                                        <i class="fas fa-trash-alt trash"></i>

                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>14</td>
                                <td>Senior Marketing Designer</td>
                                <td>
                                    description
                                </td>
                                <td>
                                    <div class="opciones">
                                        <i class="fas fa-edit"></i>
                                        <i class="far fa-list-alt"></i>
                                        <i class="fas fa-trash-alt trash"></i>

                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>15</td>
                                <td>Regional Director</td>
                                <td>
                                    description
                                </td>
                                <td>
                                    <div class="opciones">
                                        <i class="fas fa-edit"></i>
                                        <i class="far fa-list-alt"></i>
                                        <i class="fas fa-trash-alt trash"></i>

                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>16</td>
                                <td>Marketing Designer</td>
                                <td>
                                    description
                                </td>
                                <td>
                                    <div class="opciones">
                                        <i class="fas fa-edit"></i>
                                        <i class="far fa-list-alt"></i>
                                        <i class="fas fa-trash-alt trash"></i>

                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>17</td>
                                <td>Chief Financial Officer (CFO)</td>
                                <td>
                                    description
                                </td>
                                <td>
                                    <div class="opciones">
                                        <i class="fas fa-edit"></i>
                                        <i class="far fa-list-alt"></i>
                                        <i class="fas fa-trash-alt trash"></i>

                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>18</td>
                                <td>Systems Administrator</td>
                                <td>
                                    description
                                </td>
                                <td>
                                    <div class="opciones">
                                        <i class="fas fa-edit"></i>
                                        <i class="far fa-list-alt"></i>
                                        <i class="fas fa-trash-alt trash"></i>

                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>19</td>
                                <td>Software Engineer</td>
                                <td>
                                    description
                                </td>
                                <td>
                                    <div class="opciones">
                                        <i class="fas fa-edit"></i>
                                        <i class="far fa-list-alt"></i>
                                        <i class="fas fa-trash-alt trash"></i>

                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>20</td>
                                <td>Personnel Lead</td>
                                <td>
                                    description
                                </td>
                                <td>
                                    <div class="opciones">
                                        <i class="fas fa-edit"></i>
                                        <i class="far fa-list-alt"></i>
                                        <i class="fas fa-trash-alt trash"></i>

                                    </div>
                                </td>

                            </tr>

                        </tbody>
                        <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Opciones</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
  </div>
<script src="js/cargavistaparcial.js"></script>
<script src="js/combosaninadoscitas.js"></script>

