@using Microsoft.AspNetCore.Identity
@inject SignInManager<USUARIO> SignInManager
@inject UserManager<USUARIO> UserManager

<ul class="navbar-nav">
	@if (SignInManager.IsSignedIn(User))
	{
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Bienvenido @User.Identity.Name!</a>
		</li>
		<li class="nav-item">
			<form class="form-inline" asp-area="" asp-controller="Login" asp-action="Index">
				<button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
			</form>
		</li>
	}
	else
	{
		<li class="nav-item">
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Index">Login</a>
		</li>
	}
</ul>