
<div class="modal-dialog modal-lg" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<h4 class="modal-title text-center" id="exampleModalLabel">Confirmaciòn</h4>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		@using (Html.BeginForm("Registro", "Licencia", FormMethod.Post, new { @id = "frmregistrartipo" }))
		{
			
	<div class="modal-body">

		<div class="col-sm-12">
			El sistema ha realizado con exito la validacion de cruce de horarios
		</div>
		<div class="col-sm-12">
			¿Desea aprobar solicitud?
		</div>

		<div class="modal-footer">
			<button style="width: 80px;" type="submit" class="btn btn-primary">Aprobar</button>
			<button style="width: 80px;" type="submit" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
		</div>
	</div>

		}

	</div>
</div>