
@{
    ViewData["Title"] = "GeneracionComprobante";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

	<div class="container">
	
		<div class="col-sm-12">
			<div class="row">
				<div class="col-sm-12">
					<h2>Generacion de Documento de pago</h2>
				</div>
				<div class="col-sm-12">
					<div class="row">
						<div class="col-sm-6">
							<div class="input-style">
								<label class="form-label">Fecha de Planilla:</label>
								<input type="text" name="name" class="form-control" />
							</div>
						</div>
						<div class="col-sm-6">
							<label class="form-label">Considerar en Planilla Cobranzas</label>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="input-style">
								<label class="form-label">Paciente:</label>
								<input type="text" name="name" class="form-control" />
							</div>
						</div>
						<div class="col-sm-6">
							<div class="input-style">
								<label class="form-label">Historia:</label>
								<input type="text" name="name" class="form-control" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="input-style">
								<label class="form-label">Documento:</label>
								<input type="text" name="name" class="form-control" />
							</div>
						</div>
						<div class="col-sm-6">
							<div class="input-style">
								<label class="form-label">Numero:</label>
								<input type="text" name="name" class="form-control" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="input-style">
								<label class="form-label">Razon Social:</label>
								<input type="text" name="name" class="form-control" />
							</div>
						</div>
						<div class="col-sm-6">
							<div class="input-style">
								<label class="form-label">RUC/DNI:</label>
								<input type="text" name="name" class="form-control" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="input-style">
								<label class="form-label">Direccion:</label>
								<input type="text" name="name" class="form-control" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="input-style">
								<label class="form-label">Distrito:</label>
								<input type="text" name="name" class="form-control" />
							</div>
						</div>
						<div class="col-sm-6">
							<div class="input-style">
								<label class="form-label">Direccion:</label>
								<input type="text" name="name" class="form-control" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="input-style">
								<label class="form-label">Teléfono:</label>
								<input type="text" name="name" class="form-control" />
							</div>
						</div>
						<div class="col-sm-6">
							<div class="input-style">
								<label class="form-label">Celular:</label>
								<input type="text" name="name" class="form-control" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="input-style">
								<label class="form-label">Email:</label>
								<input type="text" name="name" class="form-control" />
							</div>
						</div>
					</div>
					<div class="row pt-3">
						<div class="col-sm-2">
							<label>Importe a pagar:</label>
						</div>
						<div class="col-sm-2">
							<div class="input-style">

								<label class="form-label">Val. Venta</label>
								<input type="text" name="name" class="form-control" />
								</div>
							</div>
							<div class="col-sm-2">
								<div class="input-style">
									<label class="form-label">Impuestos</label>
									<input type="text" name="name" class="form-control" />
								</div>
							</div>
							<div class="col-sm-2">
								<div class="input-style">
									<label class="form-label">P. Venta</label>
									<input type="text" name="name" class="form-control" />
								</div>
							</div>
							<div class="col-sm-2">
								<div class="input-style">
									<label class="form-label">Tipo de Cambio</label>
									<input type="text" name="name" class="form-control" />
								</div>
							</div>
						</div>
					<div class="row pt-2">
						<div class="col-sm-12">
							<h4>Importe recibido</h4>
						</div>
						<div class="col-sm-12">
							<div class="row">
								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-12">
											<div class="input-style">
												<label class="form-label">Importe S/</label>
												<input type="text" name="name" class="form-control" />
											</div>
										</div>
										<div class="col-sm-12">
											<div class="input-style">
												<label class="form-label">Importe $</label>
												<input type="text" name="name" class="form-control" />
											</div>
										</div>
									</div>
							
								</div>
								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-12">
											<div class="input-style">
												<label class="form-label">Total Recibido S/</label>
												<input type="text" name="name" class="form-control" />
											</div>
										</div>
										<div class="col-sm-12">
											<div class="input-style">
												<label class="form-label">Vuelto</label>
												<input type="text" name="name" class="form-control" />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row pt-3">
						<div class="col-sm-12">
							<h4>Distribucion de Pago</h4>
						</div>
						<div class="col-sm-12">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>N°</th>
										<th>Forma de pago</th>
										<th>Importe a Pagar</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>dsfds</td>
										<td>dsfdsf</td>
										<td>dsff</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="row pt-3">
						<div class="col-sm-12 text-right">
							<button class="btn btn-primary">Guardar</button>
						</div>
					</div>
				</div>
			</div>
			
        </div>
    </div>

