
@{
	ViewData["Title"] = "CrearPaciente";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-12" id="formpaciente">
	<form action="/Paciente/Create"
		  method="post"
		  novalidate="novalidate">
		<div class="col-sm-12 text-center pt-2 pb-4 card-height">
			<div class="card card-primary card-his">
				<div class="card-header card-shadow">
					<h1>Datos del paciente</h1>
				</div>
			</div>
		</div>
		<div class="col-sm-12">
			<div class="card">
				<div class="card-body">
					<h1>Elija una Opcion</h1>
					<br />
					<div class="row">
						<div class="col-sm-4">
							<div class="col-sm-12">
								<div class="row">
									<div class="col-sm-7">
										<div class="form-check-inline">
											<input class="form-check-input"
												   type="radio"
												   name="exampleRadios"
												   id="exampleRadios1"
												   value="option1"
												   checked />
											<label class="form-check-label"
												   for="exampleRadios1">
												CON HISTORIA
											</label>
										</div>
										<div class="form-check-inline">
											<input class="form-check-input"
												   type="radio"
												   name="exampleRadios"
												   id="exampleRadios2"
												   value="option2" />
											<label class="form-check-label"
												   for="exampleRadios2">
												SIN HISTORIA
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-12">
			<a data-toggle="collapse"
			   href="#collapseacom"
			   role="button"
			   aria-expanded="false"
			   aria-controls="collapseacom">
				<div class="card card-primary">
					<div class="card-header">
						<div class="row">
							<div class="col-sm-6 card-title">
								<h3>Medico</h3>
							</div>
							<div class="col-sm-6 text-right">
								<i style="font-size: 30px;"
								   class="fas fa-plus fx-5"></i>
							</div>
						</div>
					</div>
				</div>
			</a>
			<div class="card">
				<div class="collapse multi-collapse"
					 id="collapseacom">
					<div class="card-body">
						<div class="row mb-12-inline">
							<div class="col-sm-12">
								<div class="row">
									<div class="col-sm-9">
										<label for="cbotipdocacom"><h2>Medico:</h2></label>
										<label for="cbotipdocacom">
											<h1>00050 Fredy Flores Yaricua</h1>
										</label>
									</div>
									<div class="col-sm-8">
										<div class="container">
											<div class="row">
												<div class="col-sm-3">
													<div class="row">
														<div class="col-sm-11">
															<div class="
                                                  <div class="form-group">
                                                    <input
                                                      class="form-control"
                                                      data-val="true"
                                                      data-val-required="Seleccione la fecha de inicio"
                                                      id="fechaIni"
                                                      name="fechaIni"
                                                      type="Date"
                                                      value=""
                                                    />
                                                    <span
                                                      class="field-validation-valid text-danger"
                                                      data-valmsg-for="fechaIni"
                                                      data-valmsg-replace="true"
                                                    ></span>
                                                  </div>
                                                </div>
														</div>
													</div>

													<div class="col-sm-4">
														<div class="form-group">
															<div class="input-group date"
																 id="datetimepicker1">
																<input type="text"
																	   class="form-control"
																	   placeholder="Hora" />
																<span class="input-group-addon">
																	<span class="glyphicon glyphicon-calendar"></span>
																</span>
															</div>
														</div>
													</div>
													<div class="col-sm-4">
														<div class="form-group">
															<div class="input-group date">
																<input type="text"
																	   class="form-control"
																	   placeholder="Consultorio 001" />
																<span class="input-group-addon">
																	<span class="glyphicon glyphicon-calendar"></span>
																</span>
															</div>
														</div>
													</div>

													<hr />
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-12">
				<a data-toggle="collapse"
				   href="#collapseacom"
				   role="button"
				   aria-expanded="false"
				   aria-controls="collapseacom">

				</a>
				<div class="card">
					<div class="collapse multi-collapse"
						 id="collapseacom">
						<div class="card-body">
							<div class="row mb-12-inline">
								<div class="col-sm-12">
									<div class="row">
										<div class="col-sm-8">
											<div class="container">
												<div class="row">
													<div class="col-sm-4">
														<div class="form-group">
															<div class="input-group date"
																 id="datetimepicker1">
																<input type="text"
																	   class="form-control"
																	   placeholder="N° Historia" />
																<span class="input-group-addon">
																	<span class="glyphicon glyphicon-calendar"></span>
																</span>
															</div>
														</div>
													</div>

													<div class="col-sm-4">
														<div class="form-group">
															<div class="input-group date"
																 id="datetimepicker1">
																<input type="text"
																	   class="form-control"
																	   placeholder="N° Cuenta" />
																<span class="input-group-addon">
																	<span class="glyphicon glyphicon-calendar"></span>
																</span>
															</div>
														</div>
													</div>
													<div class="col-sm-4">
														<div class="form-group">
															<div class="input-group date">
																<input type="text"
																	   class="form-control"
																	   placeholder="N° Orden 001" />
																<span class="input-group-addon">
																	<span class="glyphicon glyphicon-calendar"></span>
																</span>
															</div>
														</div>
													</div>

												</div>
											</div>
											<div class="container">
												<div class="row">
													<div class="col-sm-8">
														<div class="form-group">
															<div class="input-group date"
																 id="datetimepicker1">
																<input type="text"
																	   class="form-control"
																	   placeholder="Paciente" />
																<span class="input-group-addon">
																	<span class="glyphicon glyphicon-calendar"></span>
																</span>
															</div>
														</div>
													</div>

													<div class="col-sm-4">
														<select class="form-control"
																id="paciente_idParentescoAcompa_ante"
																name="paciente.idParentescoAcompañante">
															<option value="">
																Tipo de Citado
															</option>
															<option value="40">
																Nuevo
															</option>
															<option value="41">
																Registrado
															</option>
														</select>
													</div>
													<div class="col-sm-12">
														<textarea class="form-control" rows="3" placeholder="Observacion"></textarea>
														<br>


														<textarea class="form-control" rows="3" placeholder=" Observacion Filacion Paciente"></textarea>
													</div>



												</div>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-12">
				<a data-toggle="collapse"
				   href="#collapseacom"
				   role="button"
				   aria-expanded="false"
				   aria-controls="collapseacom">
					<div class="card card-primary">
						<div class="card-header">
							<div class="row">
								<div class="col-sm-6 card-title">
									<h3>Tipo de Paciente</h3>
								</div>
								<div class="col-sm-6 text-right">
									<i style="font-size: 30px;"
									   class="fas fa-plus fx-5"></i>
								</div>
							</div>
						</div>
					</div>
				</a>
				<div class="card">
					<div class="collapse multi-collapse"
						 id="collapseacom">
						<div class="card-body">
							<div class="row mb-12-inline">
								<div class="col-sm-12">
									<div class="row">
										<div class="col-sm-8">
											<di class="container">
												<div class="row">
													<div class="form-group">
														<div class="form-check-inline">
															<input class="form-check-input"
																   type="radio"
																   name="exampleRadios"
																   id="exampleRadios1"
																   value="option1"
																   checked />
															<label class="form-check-label"
																   for="exampleRadios1">
																Particular
															</label>
														</div>
														<div class="form-check-inline">
															<input class="form-check-input"
																   type="radio"
																   name="exampleRadios"
																   id="exampleRadios2"
																   value="option2" />
															<label class="form-check-label"
																   for="exampleRadios2">
																Asegurado/Convenio
															</label>
														</div>
													</div>
												</div>
											</di>
											<div class="container">
												<div class="row">
													<div class="col-sm-4">
														<div class="form-group">
															<div class="input-group date"
																 id="datetimepicker1">
																<input type="text"
																	   class="form-control"
																	   placeholder="Codigo Plan" />
																<span class="input-group-addon">
																	<span class="glyphicon glyphicon-calendar"></span>
																</span>
															</div>
														</div>
													</div>

													<div class="col-sm-4">
														<div class="form-group">
															<div class="input-group date"
																 id="datetimepicker1">
																<input type="text"
																	   class="form-control"
																	   placeholder="N° Contrato" />
																<span class="input-group-addon">
																	<span class="glyphicon glyphicon-calendar"></span>
																</span>
															</div>
														</div>
													</div>
													<div class="col-sm-4">
														<select class="form-control"
																id="paciente_idParentescoAcompa_ante"
																name="paciente.idParentescoAcompañante">
															<option value="">
																Moneda
															</option>
															<option value="40">
																soles
															</option>
															<option value="41">
																Dolares
															</option>
															<option value="41">
																Euros
															</option>
														</select>
													</div>
												</div>
											</div>
											<div class="container">
												<div class="row">
													<div class="col-sm-8">
														<div class="form-group">
															<div class="input-group date"
																 id="datetimepicker1">
																<input type="text"
																	   class="form-control"
																	   placeholder="Aseguradora" />
																<span class="input-group-addon">
																	<span class="glyphicon glyphicon-calendar"></span>
																</span>
															</div>
														</div>
													</div>

													<div class="col-sm-4">
														<div class="form-group">
															<div class="input-group date"
																 id="datetimepicker1">
																<input type="text"
																	   class="form-control"
																	   placeholder="Deducible" />
																<span class="input-group-addon">
																	<span class="glyphicon glyphicon-calendar"></span>
																</span>
															</div>
														</div>
													</div>
												</div>
											</div>

											<div class="container">
												<div class="row">
													<div class="col-sm-8">
														<div class="form-group">
															<div class="input-group date"
																 id="datetimepicker1">
																<input type="text"
																	   class="form-control"
																	   placeholder="Contratante" />
																<span class="input-group-addon">
																	<span class="glyphicon glyphicon-calendar"></span>
																</span>
															</div>
														</div>
													</div>

													<div class="col-sm-4">
														<div class="form-group">
															<div class="input-group date"
																 id="datetimepicker1">
																<input type="text"
																	   class="form-control"
																	   placeholder="CoaSeguro" />
																<span class="input-group-addon">
																	<span class="glyphicon glyphicon-calendar"></span>
																</span>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="container">
												<div class="row">
													<div class="col-sm-8">
														<div class="form-group">
															<div class="input-group date"
																 id="datetimepicker1">
																<input type="text"
																	   class="form-control"
																	   placeholder="Tarifa" />
																<span class="input-group-addon">
																	<span class="glyphicon glyphicon-calendar"></span>
																</span>
															</div>
														</div>
													</div>

													<div class="col-sm-4">
														<div class="form-group">
															<div class="input-group date"
																 id="datetimepicker1">
																<input type="text"
																	   class="form-control"
																	   placeholder="Consulta General" />
																<span class="input-group-addon">
																	<span class="glyphicon glyphicon-calendar"></span>
																</span>
															</div>
														</div>
													</div>
												</div>
											</div>

											<div class="container">
												<div class="row">
													<div class="col-sm-2">
														<div class="form-group">
															<div class="input-group date"
																 id="datetimepicker1">
																<input type="text"
																	   class="form-control"
																	   placeholder="Sub Total" />
																<span class="input-group-addon">
																	<span class="glyphicon glyphicon-calendar"></span>
																</span>
															</div>
														</div>
													</div>
													<div class="col-sm-2">
														<div class="form-group">
															<div class="input-group date"
																 id="datetimepicker1">
																<input type="text"
																	   class="form-control"
																	   placeholder="IGV" />
																<span class="input-group-addon">
																	<span class="glyphicon glyphicon-calendar"></span>
																</span>
															</div>
														</div>
													</div>
													<div class="col-sm-2">
														<div class="form-group">
															<div class="input-group date"
																 id="datetimepicker1">
																<input type="text"
																	   class="form-control"
																	   placeholder="Total" />
																<span class="input-group-addon">
																	<span class="glyphicon glyphicon-calendar"></span>
																</span>
															</div>
														</div>
													</div>
													<div class="col-sm-2">
														<div class="form-group">
															<div class="input-group date"
																 id="datetimepicker1">
																<input type="text"
																	   class="form-control"
																	   placeholder="Tot Seguro" />
																<span class="input-group-addon">
																	<span class="glyphicon glyphicon-calendar"></span>
																</span>
															</div>
														</div>
													</div>
													<div class="col-sm-2">
														<div class="form-group">
															<div class="input-group date"
																 id="datetimepicker1">
																<input type="text"
																	   class="form-control"
																	   placeholder="Tot Paciente" />
																<span class="input-group-addon">
																	<span class="glyphicon glyphicon-calendar"></span>
																</span>
															</div>
														</div>
													</div>
												</div>
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-12">
				<a data-toggle="collapse"
				   href="#collapseacom"
				   role="button"
				   aria-expanded="false"
				   aria-controls="collapseacom">
					<div class="card card-primary">
						<div class="card-header">
							<div class="row">
								<div class="col-sm-6 card-title">
									<h3>Fecha de Vigencias - [Cobertura]</h3>
								</div>
								<div class="col-sm-6 text-right">
									<i style="font-size: 30px;"
									   class="fas fa-plus fx-5"></i>
								</div>
							</div>
						</div>
					</div>
				</a>
				<div class="card">
					<div class="collapse multi-collapse"
						 id="collapseacom">
						<div class="card-body">
							<div class="row mb-12-inline">
								<div class="col-sm-12">
									<div class="row">
										<div class="col-sm-8">
											<div class="container">
												<div class="row">
													<div class="col-sm-4">
														<div class="form-group">
															<div class="input-group date"
																 id="datetimepicker1">
																<input type="text"
																	   class="form-control"
																	   placeholder="Fecha Inicio" />
																<span class="input-group-addon">
																	<span class="glyphicon glyphicon-calendar"></span>
																</span>
															</div>
														</div>
													</div>

													<div class="col-sm-4">
														<div class="form-group">
															<div class="input-group date"
																 id="datetimepicker1">
																<input type="text"
																	   class="form-control"
																	   placeholder="Fecha Caducidad" />
																<span class="input-group-addon">
																	<span class="glyphicon glyphicon-calendar"></span>
																</span>
															</div>
														</div>
													</div>

												</div>
											</div>
											<div class="container">
												<div class="row">
													<div class="col-sm-8">
														<div class="form-group">
															<div class="input-group date"
																 id="datetimepicker1">
																<input type="text"
																	   class="form-control"
																	   placeholder="Carta de Garantia" />
																<span class="input-group-addon">
																	<span class="glyphicon glyphicon-calendar"></span>
																</span>
															</div>
														</div>
													</div>


												</div>
												<div class="row">
													<div class="col-sm-4">
														<div class="form-group">
															<div class="input-group date"
																 id="datetimepicker1">
																<input type="text"
																	   class="form-control"
																	   placeholder="Fecha Garantia" />
																<span class="input-group-addon">
																	<span class="glyphicon glyphicon-calendar"></span>
																</span>
															</div>
														</div>
													</div>

													<div class="col-sm-4">
														<div class="form-group">
															<div class="input-group date"
																 id="datetimepicker1">
																<input type="text"
																	   class="form-control"
																	   placeholder="Cobertura" />
																<span class="input-group-addon">
																	<span class="glyphicon glyphicon-calendar"></span>
																</span>
															</div>
														</div>
													</div>
												</div>

											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-12">
					<a data-toggle="collapse"
					   href="#collapseacom"
					   role="button"
					   aria-expanded="false"
					   aria-controls="collapseacom">
						<div class="card card-primary">
							<div class="card-header">
								<div class="row">
									<div class="col-sm-6 card-title">
										<h3>Facturacion</h3>
									</div>
									<div class="col-sm-6 text-right">
										<i style="font-size: 30px;"
										   class="fas fa-plus fx-5"></i>
									</div>
								</div>
							</div>
						</div>
					</a>
					<div class="card">
						<div class="collapse multi-collapse"
							 id="collapseacom">
							<div class="card-body">
								<div class="row mb-12-inline">
									<div class="col-sm-12">
										<div class="row">
											<div class="col-sm-12">
												<div class="container">
													<div class="row">
														<div class="col-sm-4">
															<div class="form-group">
																<div class="input-group date"
																	 id="datetimepicker1">
																	<input type="text"
																		   class="form-control"
																		   placeholder="Autorizacion" />
																	<span class="input-group-addon">
																		<span class="glyphicon glyphicon-calendar"></span>
																	</span>
																</div>
															</div>
														</div>

														<div class="col-sm-4">
															<div class="form-group">
																<div class="input-group date"
																	 id="datetimepicker1">
																	<input type="text"
																		   class="form-control"
																		   placeholder="Asegurado" />
																	<span class="input-group-addon">
																		<span class="glyphicon glyphicon-calendar"></span>
																	</span>
																</div>
															</div>
														</div>
														<div class="col-sm-4">
															<div class="form-group">
																<div class="input-group date"
																	 id="datetimepicker1">
																	<input type="text"
																		   class="form-control"
																		   placeholder="N° Atencion" />
																	<span class="input-group-addon">
																		<span class="glyphicon glyphicon-calendar"></span>
																	</span>
																</div>
															</div>
														</div>
														<div class="col-sm-4">
															<div class="form-group">
																<div class="input-group date"
																	 id="datetimepicker1">
																	<input type="text"
																		   class="form-control"
																		   placeholder="N° Item" />
																	<span class="input-group-addon">
																		<span class="glyphicon glyphicon-calendar"></span>
																	</span>
																</div>
															</div>
														</div>

													</div>
												</div>


											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-12"
						 id="divpacotros"
						 style="display: none;">
						<a data-toggle="collapse"
						   href="#collapseotroscompañia"
						   role="button"
						   aria-expanded="false"
						   aria-controls="collapseotroscompañia">
							<div class="card card-primary">
								<div class="card-header">
									<div class="row">
										<div class="col-sm-6 card-title">
											<h4>Otros</h4>
										</div>
										<div class="col-sm-6 text-right">
											<i style="font-size: 30px;"
											   class="fas fa-plus fx-5"></i>
										</div>
									</div>
								</div>
							</div>
						</a>
						<div class="card">
							<div class="collapse multi-collapse"
								 id="collapseotroscompañia">
								<div id="actcompañia"
									 class="card-body"
									 style="display: none;">
									<div class="row pb-2">
										<div class="col-sm-3">
											<div class="row">
												<div class="col-sm-5">
													<label for="cobertura">Cobertura</label>
												</div>
												<div class="col-sm-7">
													<input class="form-control small-input"
														   id="paciente_coberturaCompa_ia"
														   name="paciente.coberturaCompañia"
														   type="text"
														   value="" />
												</div>
											</div>
										</div>
										<div class="col-sm-3">
											<div class="row">
												<div class="col-sm-5">
													<label for="nroatenmed">Ord. Atencion medica</label>
												</div>
												<div class="col-sm-7">
													<input class="form-control small-input"
														   id="paciente_ordenAtencionMedicaCompa_ia"
														   name="paciente.ordenAtencionMedicaCompañia"
														   type="text"
														   value="" />
												</div>
											</div>
										</div>
										<div class="col-sm-3">
											<div class="row">
												<div class="col-sm-5">
													<label for="nomaseg">Nombre de la Aseguradora</label>
												</div>
												<div class="col-sm-7">
													<input class="form-control small-input"
														   id="paciente_nombreAseguradoraCompa_ia"
														   name="paciente.nombreAseguradoraCompañia"
														   type="text"
														   value="" />
												</div>
											</div>
										</div>
										<div class="col-sm-3">
											<div class="row">
												<div class="col-sm-5">
													<label for="codaseg">Cod. del asegurado</label>
												</div>
												<div class="col-sm-7">
													<input class="form-control small-input"
														   id="paciente_codAseguradoCompa_ia"
														   name="paciente.codAseguradoCompañia"
														   type="text"
														   value="" />
												</div>
											</div>
										</div>
									</div>
									<div class="row pb-3">
										<div class="col-sm-3">
											<div class="row">
												<div class="col-sm-5">
													<label for="poliza">Poliza</label>
												</div>
												<div class="col-sm-7">
													<input class="form-control small-input"
														   id="paciente_polizaCompa_ia"
														   name="paciente.polizaCompañia"
														   type="text"
														   value="" />
												</div>
											</div>
										</div>
										<div class="col-sm-3">
											<div class="row">
												<div class="col-sm-5">
													<label for="cboparentesco2">Parentesco</label>
												</div>
												<div class="col-sm-7">
													<select class="form-control small-input"
															id="paciente_idParentescoCompa_ia"
															name="paciente.idParentescoCompañia">
														<option value="">Seleccione</option>
														<option value="40">PADRE</option>
														<option value="41">MADRE</option>
														<option value="42">HIJO/A</option>
														<option value="43">ABUELA/O</option>
														<option value="44">TIA/O</option>
														<option value="45">NIETA/O</option>
														<option value="46">PADRASTRO</option>
														<option value="47">MADRASTRA</option>
														<option value="48">SOBRINA/O</option>
														<option value="49">PRIMA/O</option>
														<option value="50">
															BIS-ABUELA/O
														</option>
														<option value="51">AMIGA/O</option>
														<option value="52">HERMANA/O</option>
														<option value="53">YERNO</option>
														<option value="54">NUERA</option>
													</select>
												</div>
											</div>
										</div>
										<div class="col-sm-3">
											<div class="row">
												<div class="col-sm-5">
													<label for="fechinivig">Inicio de vig.</label>
												</div>
												<div class="col-sm-7">
													<input class="form-control"
														   id="paciente_inicioVigenciaCompa_ia"
														   name="paciente.inicioVigenciaCompañia"
														   type="text"
														   value="" />
												</div>
											</div>
										</div>
										<div class="col-sm-3">
											<div class="row">
												<div class="col-sm-5">
													<label for="fechfinvig">Fin de vig.</label>
												</div>
												<div class="col-sm-7">
													<input class="form-control"
														   id="paciente_finVigenciaCompa_ia"
														   name="paciente.finVigenciaCompañia"
														   type="text"
														   value="" />
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-3">
											<div class="row">
												<div class="col-sm-5">
													<label for="tpplansalud">Tip Plan de salud</label>
												</div>
												<div class="col-sm-7">
													<input class="form-control"
														   id="paciente_tipoPlanSaludCompa_ia"
														   name="paciente.tipoPlanSaludCompañia"
														   type="text"
														   value="" />
												</div>
											</div>
										</div>
										<div class="col-sm-3">
											<div class="row">
												<div class="col-sm-5">
													<label for="nroplansalud">N° plan de salud</label>
												</div>
												<div class="col-sm-7">
													<input class="form-control"
														   id="paciente_numeroPlanSaludCompa_ia"
														   name="paciente.numeroPlanSaludCompañia"
														   type="text"
														   value="" />
												</div>
											</div>
										</div>
										<div class="col-sm-3"></div>
										<div class="col-sm-3"></div>
									</div>
								</div>
								<div id="actconvenio"
									 class="card-body"
									 style="display: none;">
									<div class="row pb-2">
										<div class="col-sm-3">
											<div class="row">
												<div class="col-sm-5">
													<label for="coberturacov">Cobertura</label>
												</div>
												<div class="col-sm-7">
													<input class="form-control"
														   id="paciente_coberturaConvenio"
														   name="paciente.coberturaConvenio"
														   type="text"
														   value="" />
												</div>
											</div>
										</div>
										<div class="col-sm-3">
											<div class="row">
												<div class="col-sm-5">
													<label for="ordatencioncov">Ord. Atencion medica</label>
												</div>
												<div class="col-sm-7">
													<input class="form-control"
														   id="paciente_ordenAtencionMedicaConvenio"
														   name="paciente.ordenAtencionMedicaConvenio"
														   type="text"
														   value="" />
												</div>
											</div>
										</div>
										<div class="col-sm-3">
											<div class="row">
												<div class="col-sm-5">
													<label for="cboparentesco3">Parentesco</label>
												</div>
												<div class="col-sm-7">
													<select class="form-control"
															id="paciente_idParentesoConvenio"
															name="paciente.idParentesoConvenio">
														<option value="">Seleccione</option>
														<option value="40">PADRE</option>
														<option value="41">MADRE</option>
														<option value="42">HIJO/A</option>
														<option value="43">ABUELA/O</option>
														<option value="44">TIA/O</option>
														<option value="45">NIETA/O</option>
														<option value="46">PADRASTRO</option>
														<option value="47">MADRASTRA</option>
														<option value="48">SOBRINA/O</option>
														<option value="49">PRIMA/O</option>
														<option value="50">
															BIS-ABUELA/O
														</option>
														<option value="51">AMIGA/O</option>
														<option value="52">HERMANA/O</option>
														<option value="53">YERNO</option>
														<option value="54">NUERA</option>
													</select>
												</div>
											</div>
										</div>
										<div class="col-sm-3">
											<div class="row">
												<div class="col-sm-5">
													<label for="fechinicov">Inicio de vig.</label>
												</div>
												<div class="col-sm-7">
													<input class="form-control"
														   id="paciente_inicioVigenciaConvenio"
														   name="paciente.inicioVigenciaConvenio"
														   type="text"
														   value="" />
												</div>
											</div>
										</div>
									</div>
									<div class="row pb-3">
										<div class="col-sm-3">
											<div class="row">
												<div class="col-sm-5">
													<label for="fechfincov">Fin de vig.</label>
												</div>
												<div class="col-sm-7">
													<input class="form-control"
														   id="paciente_finVigenciaConvenio"
														   name="paciente.finVigenciaConvenio"
														   type="text"
														   value="" />
												</div>
											</div>
										</div>
										<div class="col-sm-3"></div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-12 text-right pb-2">
						<div>
							<button type="submit" class="btn btn-primary">
								Guardar
							</button>
						</div>
						<a type="submit"
						   class="btn btn-primary"
						   href="/Paciente">Cerrar</a>
					</div>
					<input name="__RequestVerificationToken"
						   type="hidden"
						   value="CfDJ8EZArBrd5jZLg1_sLSb7wTBHWC5AuAsvSQFzuXrA0sto5M4e7suxF0Lu4IEvA25GtrWqKoUhPkl6NKdmN1g9owFJYMS6MEEREAOERk3KuG9_reg_WeylFB1vB2L3ExLZekJFQXJLilmFzMC2Iwv0z78" />
	</form>
</div>
<script src="/js/Mantenedor_Paciente.js"></script>



