@model Clinica2._0.DTO.PersonaDTO

@{ ViewBag.Title = "ProgramarCitaAdmision";
	Layout = "~/Views/Shared/_Layout.cshtml"; }


	<div class="container">
		<div class="row">
			<div class="col-sm-12 left" style="height: 50px;">
				<div class="card card-primary card-his">
					<div class="card-header card-shadow">
						<h2>Pacientes</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 ">
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Datos Paciente</a>
					</li>
				</ul><!-- Tab panes -->
				<div class="tab-content">

					<div class="tab-pane active" id="tabs-2" role="tabpanel">
						@using (Html.BeginForm())
						{
							<div class="col-sm-12 pt-3 pb-2 " style="border-bottom: 1px solid rgba(128, 128, 128, 0.34901960784313724);">
								<div class="row">
									@Html.HiddenFor(m => m.paciente.idPaciente)
									<div class="col-sm-2"><p>Buscar Paciente</p></div>
									<div class="col-sm-2">
										<select class="form-control  small-input">
											<option value="value">DNI</option>
										</select>
									</div>
									<div class="col-sm-2">
										<input type="text" id="dnipe" name="dni" class="form-control small-input" />
									</div>

									<div class="col-sm-4">
										<button class="btn btn-info" type="submit" id="btnBuscar"><i class="fas fa-search"></i></button>
										<a class="btn btn-primary" type="submit" asp-action="Create" asp-controller="Paciente"><i class="fas fa-user-plus"></i></a>
										@if (Model != null)
										{
											<a class="btn btn-secondary" type="submit" asp-action="Edit" asp-controller="Paciente" asp-route-id="@Model.paciente.idPaciente"><i class="fas fa-edit"></i></a>}
									</div>

								</div>
							</div>
						}

						<div class="content">

							<div class="acc col-sm-12 mt-3">
								<div class="col-sm-2 pl-0 pr-2">
									<div class="">

										<div class="avatar-upload">
											<div class="avatar-edit">
												<input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
												<label for="imageUpload"><i class="fas fa-pencil-alt"></i></label>
											</div>
											<div class="avatar-preview">
												<div id="imagePreview" style="background-image: url(images/profile.png);">
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="acc__card row">
									<div class="col-sm-2">
										<div class="acc__title btn btn-primary btn-menu">Información General</div>
									</div>
									<div class="col-sm-10 align-right">
										<div class="acc__panel">
											<div class="row">
												<div class="col-sm-12 mb-3">
													<div class="row">
														<div class="col-sm-6"><h5>Informacion General</h5></div>
														<div class="col-sm-5 text-right"> <button class="btn btn-primary btn-icon-small text-white" onclick="cargarReporteConsentimientodatos();" type="submit"><i class="far fa-save pr-1"></i>Consentimiento de tratamiento de datos</button></div>
													</div>
												</div>
												<div class="col-sm-12">
													<div class="row mb-3">
														<div class="col-md-1 col-sm-12"><label>Dni*</label></div>
														<div class="col-md-2 col-sm-12 inputInline"> <input type="text" asp-for="numeroDocumento" class="form-control"></div>
														<div class="col-md-2 col-sm-12"><label>Tipo de Doc*</label></div>
														<div class="col-md-2 col-sm-12 inputInline">
															<select class="form-control" data-val="true" data-val-required="Seleccione el tipo de documento" id="idTipoDocumento" name="idTipoDocumento">
																<option value="">Seleccione</option>
																<option value="1">LIBRETA ELECTORAL O DNI</option>
																<option value="2">CARNET DE EXTRANJERIA</option>
																<option value="3">REGISTRO UNICO CONTRIBUYENTES</option>
																<option value="4">PASAPORTE</option>
																<option value="5">PARTIDA NACIMIENTO -IDENTIDAD</option>
																<option value="6">OTROS</option>
															</select>
														</div>
														<div class="col-md-2 col-sm-12"><label>Tipo de Paciente*</label></div>
														<div class="col-md-2 col-sm-12 inputInline">
															<select class="form-control" data-val="true" data-val-required="Seleccione el tipo de paciente" id="cbotppac" name="paciente.idTipoPaciente">
																<option value="">Seleccione</option>
																<option value="119">PARTICULAR</option>
																<option value="120">ASEGURADO</option>
																<option value="121">CONVENIO</option>
																<option value="122">SOAT</option>
																<option value="123">EXTERNO</option>
																<option value="124">EXTERNO</option>
															</select>
														</div>
													</div>
													<div class="row mb-3">
														<div class="col-md-1 col-sm-12"><label>Nombre*</label></div>
														<div class="col-md-2 col-sm-12 inputInline"> <input type="text" asp-for="nombres" class="form-control"></div>
														<div class="col-md-2 col-sm-12"><label>Apellido Paterno*</label></div>
														<div class="col-md-2 col-sm-12 inputInline"> <input type="text" asp-for="apellidoPaterno" class="form-control"></div>
														<div class="col-md-2 col-sm-12"><label>Apellido Materno*</label></div>
														<div class="col-md-2 col-sm-12 inputInline"> <input type="text" asp-for="apellidoMaterno" class="form-control"></div>
													</div>

													<div class="row mb-3">
														<div class="col-md-1 col-sm-12"><label>Fecha*</label></div>
														<div class="col-md-2 col-sm-12 inputInline">
															<input class="form-control" data-val="true" data-val-required="Seleccione la fecha de inicio" id="fechaIni" name="fechaIni" type="Date" value="">
															<span class="field-validation-valid text-danger" data-valmsg-for="fechaIni" data-valmsg-replace="true"></span>
														</div>
														<div class="col-md-2 col-sm-12"><label>Edad*</label></div>
														<div class="col-md-2 col-sm-12 inputInline"> <input type="text" asp-for="edad" class="form-control"></div>
														<div class="col-md-1 col-sm-12"><label>Sexo*</label></div>
														<div class="col-md-4 col-sm-12">
															<div class="form-check d-inline ">
																<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
																<label class="form-check-label" for="exampleRadios1">
																	Femenino
																</label>
															</div>
															<div class="form-check d-inline ">
																<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
																<label class="form-check-label" for="exampleRadios2">
																	Masculino
																</label>
															</div>

														</div>
													</div>

													<div class="row mb-3">
														<div class="col-md-1 col-sm-12"><label>Ocupación</label></div>
														<div class="col-md-2 col-sm-12 inputInline"> <input type="text" asp-for="descripcionOcupacion" class="form-control"></div>
														<div class="col-md-2 col-sm-12"><label>Grado de Instruccion</label></div>
														<div class="col-md-2 col-sm-12 inputInline"> <input type="text" name="name" class="form-control"></div>
														<div class="col-md-2 col-sm-12"><label>Estado Civil</label></div>
														<div class="col-md-2 col-sm-12 inputInline"> <input type="text" name="name" class="form-control"></div>
													</div>
													<div class="row mb-3">
														<div class="col-md-1 col-sm-12"><label>Email*</label></div>
														<div class="col-md-2 col-sm-12 inputInline"> <input type="text" asp-for="correo" class="form-control"></div>
														<div class="col-md-2 col-sm-12"><label>Celular*</label></div>
														<div class="col-md-2 col-sm-12 inputInline"> <input type="text" name="name" class="form-control"></div>
														<div class="col-md-2 col-sm-12"><label>Parentesco*</label></div>
														<div class="col-md-2 col-sm-12 inputInline">
															<select class="form-control" data-val="true" data-val-required="Seleccione el parentesco" id="paciente_idParentescoPaciente" name="paciente.idParentescoPaciente">
																<option value="">Seleccione</option>
																<option value="40">PADRE</option>
																<option value="41">MADRE</option>
																<option value="42">HIJO/A</option>
																<option value="43">ABUELA/O</option>
																<option value="44">TIA/O</option>
																<option value="45">NIETA/O</option>
																<option value="46">PADRASTRO</option>
																<option value="47">MADRASTRA</option>
																<option value="48">SOBRINA/O</option>
																<option value="49">PRIMA/O</option>
																<option value="50">BIS-ABUELA/O</option>
																<option value="51">AMIGA/O</option>
																<option value="52">HERMANA/O</option>
																<option value="53">YERNO</option>
																<option value="54">NUERA</option>
															</select>
														</div>
													</div>
													<div class="row mb-3">

													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="acc__card row">
									<div class="col-sm-2">
										<div class="acc__title btn btn-primary btn-menu">Ubicación y Nacimiento</div>
									</div>
									<div class="col-sm-10 align-right">
										<div class="acc__panel" style="display: none;">
											<div class="row">
												<div class="col-sm-12 mb-2"><h5>Ubicación</h5></div>
												<div class="col-sm-12">
													<div class="row mb-3">
														<div class="col-md-2 col-sm-12"><label>Departamento</label></div>
														<div class="col-md-3 col-sm-12 inputInline"> <input type="text" name="name" class="form-control"></div>
														<div class="col-md-2 col-sm-12"><label>Provincia</label></div>
														<div class="col-md-3 col-sm-12 inputInline">
															<input type="text" name="name" class="form-control">
														</div>

													</div>
													<div class="row mb-3">
														<div class="col-md-2   col-sm-12"><label>Tipo de via</label></div>
														<div class="col-md-1 col-sm-12 inputInline">
															<input type="text" name="name" class="form-control">
														</div>
														<div class="col-md-2 col-sm-12"><label>Nombre de Via</label></div>
														<div class="col-md-1 col-sm-12 inputInline"> <input type="text" name="name" class="form-control"></div>
														<div class="col-md-1 col-sm-12"><label>N°</label></div>
														<div class="col-md-1 col-sm-12 inputInline">
															<input type="text" name="name" class="form-control">
														</div>
														<div class="col-md-1 col-sm-12"><label>DPTO N°</label></div>
														<div class="col-md-1 col-sm-12 inputInline">
															<input type="text" name="name" class="form-control">
														</div>

													</div>
													<div class="row mb-3">
														<div class="col-md-2 col-sm-12"><label>Interior</label></div>
														<div class="col-md-1 col-sm-12 inputInline">
															<input type="text" name="name" class="form-control">
														</div>
														<div class="col-md-2 col-sm-12"><label>N° de Lote</label></div>
														<div class="col-md-1 col-sm-12 inputInline"> <input type="text" name="name" class="form-control"></div>
														<div class="col-md-1 col-sm-12"><label>N° Etapa</label></div>
														<div class="col-md-1 col-sm-12 inputInline">
															<input type="text" name="name" class="form-control">
														</div>
														<div class="col-md-1 col-sm-12"><label>N° KM</label></div>
														<div class="col-md-1 col-sm-12 inputInline">
															<input type="text" name="name" class="form-control">
														</div>

													</div>
													<div class="row mb-3">
														<div class="col-md-2 col-sm-12"><label>N° Bloque</label></div>
														<div class="col-md-1 col-sm-12 inputInline">
															<input type="text" name="name" class="form-control">
														</div>
													</div>
												</div>
												<div class="col-sm-12 mb-2"><h5>Datos de Nacimiento</h5></div>
												<div class="col-sm-12 mb-2">
													<div class="row mb-3">
														<div class="col-md-2 col-sm-12"><label>Pais Origen</label></div>
														<div class="col-md-3 col-sm-12 inputInline"> <input type="text" name="name" class="form-control"></div>
														<div class="col-md-2 col-sm-12"><label>Departamento</label></div>
														<div class="col-md-3 col-sm-12 inputInline">
															<input type="text" name="name" class="form-control">
														</div>

													</div>
													<div class="row mb-3">
														<div class="col-md-2 col-sm-12"><label>Provincia</label></div>
														<div class="col-md-3 col-sm-12 inputInline"> <input type="text" name="name" class="form-control"></div>
														<div class="col-md-2 col-sm-12"><label>Distrito</label></div>
														<div class="col-md-3 col-sm-12 inputInline">
															<input type="text" name="name" class="form-control">
														</div>

													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="acc__card row">
									<div class="col-sm-2">
										<div class="acc__title btn btn-primary btn-menu">Datos del Seguro</div>
									</div>
									<div class="col-sm-10 align-right">
										<div class="acc__panel" style="display: none;">
											<div class="row">
												<div class="col-sm-12 mb-2"><h5>Datos del Seguro</h5></div>
												<div class="col-sm-12 mb-2">
													<div class="row mb-3">
														<div class="col-md-2 col-sm-12"><label>Tipo de Paciente</label></div>
														<div class="col-md-6 col-sm-12">
															<div class="form-check d-inline ">
																<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
																<label class="form-check-label" for="exampleRadios1">
																	Particular
																</label>
															</div>
															<div class="form-check d-inline ">
																<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
																<label class="form-check-label" for="exampleRadios2">
																	Asegurado/convenio
																</label>
															</div>

														</div>
													</div>
													<div class="row mb-3">
														<div class="col-md-2 col-sm-12"><label>Codigo de Plan*</label></div>
														<div class="col-md-2 col-sm-12 inputInline"> <input type="text" name="name" class="form-control"></div>
														<div class="col-md-2 col-sm-12"><label>N de contrato*</label></div>
														<div class="col-md-2 col-sm-12 inputInline">
															<input type="text" name="name" class="form-control">
														</div>
														<div class="col-md-2 col-sm-12"><label>Aseguradora</label></div>
														<div class="col-md-2 col-sm-12 inputInline">
															<input type="text" name="name" class="form-control">
														</div>
													</div>
													<div class="row mb-3">
														<div class="col-md-2 col-sm-12"><label>Contratante*</label></div>
														<div class="col-md-2 col-sm-12 inputInline"> <input type="text" name="name" class="form-control"></div>

													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="acc__card row">
									<div class="col-sm-2">
										<div class="acc__title btn btn-primary btn-menu">Empresa</div>
									</div>
									<div class="col-sm-10 align-right">
										<div class="acc__panel" style="display: none;">
											<div class="row">
												<div class="col-sm-12 mb-2"><h5>Empresa</h5></div>
												<div class="col-sm-12 mb-2">
													<div class="row mb-3">
														<div class="col-md-2 col-sm-12"><label>RUC</label></div>
														<div class="col-md-3 col-sm-12 inputInline"> <input type="text" name="name" class="form-control"></div>
														<div class="col-md-2 col-sm-12"><label>Razón Social</label></div>
														<div class="col-md-3 col-sm-12 inputInline">
															<input type="text" name="name" class="form-control">
														</div>

													</div>
													<div class="row mb-3">
														<div class="col-md-2 col-sm-12"><label>Estado del RUC</label></div>
														<div class="col-md-3 col-sm-12 inputInline"> <input type="text" name="name" class="form-control"></div>
														<div class="col-md-2 col-sm-12"><label>Condición del RUC</label></div>
														<div class="col-md-3 col-sm-12 inputInline">
															<input type="text" name="name" class="form-control">
														</div>

													</div>
													<div class="row mb-3">

														<div class="col-md-2 col-sm-12"><label>Domicilio fiscal</label></div>
														<div class="col-md-3 col-sm-12 inputInline">
															<input type="text" name="name" class="form-control">
														</div>

													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="acc__card row">
									<div class="col-sm-2">
										<div class="acc__title btn btn-primary btn-menu">Datos del acompañante</div>
									</div>
									<div class="col-sm-10 align-right">
										<div class="acc__panel" style="display: none;">
											<div class="row">
												<div class="col-sm-12 mb-2"><h5>Datos del Acompañante</h5></div>
												<div class="col-sm-12 mb-2">
													<div class="row mb-3">
														<div class="col-md-2 col-sm-12"><label>Tipo de Doc*</label></div>
														<div class="col-md-2 col-sm-12 inputInline">
															<select class="form-control" data-val="true" data-val-required="Seleccione el tipo de documento" id="idTipoDocumento" name="idTipoDocumento">
																<option value="">Seleccione</option>
																<option value="1">LIBRETA ELECTORAL O DNI</option>
																<option value="2">CARNET DE EXTRANJERIA</option>
																<option value="3">REGISTRO UNICO CONTRIBUYENTES</option>
																<option value="4">PASAPORTE</option>
																<option value="5">PARTIDA NACIMIENTO -IDENTIDAD</option>
																<option value="6">OTROS</option>
															</select>
														</div>
														<div class="col-md-1 col-sm-12"><label>N° de Doc</label></div>
														<div class="col-md-2 col-sm-12 inputInline"> <input type="text" name="name" class="form-control"></div>
														<div class="col-md-2 col-sm-12"><label>Apellido Paterno</label></div>
														<div class="col-md-2 col-sm-12 inputInline">
															<input type="text" name="name" class="form-control">
														</div>


													</div>
													<div class="row mb-3">
														<div class="col-md-2 col-sm-12"><label>Apellido Materno</label></div>
														<div class="col-md-2 col-sm-12 inputInline">
															<input type="text" name="name" class="form-control">
														</div>
														<div class="col-md-1 col-sm-12"><label>Nombres</label></div>
														<div class="col-md-2 col-sm-12 inputInline"> <input type="text" name="name" class="form-control"></div>
														<div class="col-md-2 col-sm-12"><label>Parentesco</label></div>
														<div class="col-md-2 col-sm-12 inputInline">
															<select class="form-control small-input" id="paciente_idParentescoAcompa_ante" name="paciente.idParentescoAcompañante">
																<option value="">Seleccione</option>
																<option value="40">PADRE</option>
																<option value="41">MADRE</option>
																<option value="42">HIJO/A</option>
																<option value="43">ABUELA/O</option>
																<option value="44">TIA/O</option>
																<option value="45">NIETA/O</option>
																<option value="46">PADRASTRO</option>
																<option value="47">MADRASTRA</option>
																<option value="48">SOBRINA/O</option>
																<option value="49">PRIMA/O</option>
																<option value="50">BIS-ABUELA/O</option>
																<option value="51">AMIGA/O</option>
																<option value="52">HERMANA/O</option>
																<option value="53">YERNO</option>
																<option value="54">NUERA</option>
															</select>
														</div>


													</div>
													<div class="row mb-3">
														<div class="col-md-2 col-sm-12"><label>Edad</label></div>
														<div class="col-md-2 col-sm-12 inputInline">
															<input type="text" name="name" class="form-control">
														</div>
														<div class="col-md-1 col-sm-12"><label>Celular Personal</label></div>
														<div class="col-md-2 col-sm-12 inputInline"> <input type="text" name="name" class="form-control"></div>
														<div class="col-md-2 col-sm-12"><label>Correo Electronico</label></div>
														<div class="col-md-2 col-sm-12 inputInline">
															<input type="text" name="name" class="form-control">
														</div>


													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>




	</div>


<div class="modal fade" id="modalcitas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

</div>
<div class="modal fade" id="modalreprogramar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

</div>

<div id="modalcronograma" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
</div>
<div id="modaldetallecro" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
</div>
<div id="modalanular" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
</div>
<div id="modaldetalle" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
</div>
<div class="modal fade" id="modalreporte" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

</div>
<script src="~/js/cargavistaparcial.js"></script>
<script src="~/js/combosaninadoscitas.js"></script>
<script src="~/js/profile-picture.js"></script>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}