@model Clinica2._0.DTO.CitaDTO
<div class="modal-dialog modal-lg" style="max-width: 1250px!important;" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<h2 class="modal-title text-center" id="exampleModalLabel1">Reprogramacion de cita ambulatoria</h2>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-6 pr-4">
					<div class="row">
						<div class="col-sm-12 pr-2" style="border: 1px solid rgba(128, 128, 128, 0.29);
            									border-radius: 9px;
            									margin-top: 1rem;
												">
							<div class="row">
								<div class="col-sm-12">
									<span>Datos del medico a transferir sus Citas</span>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-4">
									<div class="input-style">
										<label for="txtNroDocumento" class="form-label">Fecha</label>
										<input type="date" name="name" value="" class="form-control" />
									</div>
								</div>
								<div class="col-sm-8">

								</div>
							</div>
							<div class="row">
								<div class="col-sm-5">
									<div class="input-style">
										<label for="txtNroDocumento" class="form-label">Especialidad</label>
										<input type="text" name="name" value="" class="form-control" />
									</div>
								</div>
								<div class="col-sm-7">

								</div>
							</div>
							<div class="row">
								<div class="col-sm-5">
									<div class="input-style">
										<label for="txtNroDocumento" class="form-label">Medico</label>
										<input type="text" name="name" value="" class="form-control" />
									</div>
								</div>
								<div class="col-sm-7">

								</div>
							</div>
							<div class="row pt-3">
								<div class="col-sm-12">
									<table class="table table-bordered table-hover table-responsive">
										<thead>
											<tr>
												<th>N°</th>
												<th>Hora</th>
												<th>Historia</th>
												<th>Paciente</th>
												<th>Confirmado</th>
												<th>Hora registro</th>
												<th>N°Cuenta</th>
												<th>N°Orden</th>
												<th>Consultorio</th>
												<th>Tipo Afiliado</th>
												<th>Acciones</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>1</td>
												<td>8:30</td>
												<td>000111</td>
												<td>Arenas Choque Asuncion</td>
												<td>Si</td>
												<td>9:50</td>
												<td>001</td>
												<td>005</td>
												<td>C-05</td>
												<td>NO DEFINIDO</td>
												<td><a onclick="cargarModalConfirmacion();" style="font-size: 12px; color:white;" class="btn btn-primary">Seleccionar</a></td>
											</tr>
											<tr>
												<td>1</td>
												<td>8:30</td>
												<td>000111</td>
												<td>Arenas Choque Asuncion</td>
												<td>Si</td>
												<td>9:50</td>
												<td>001</td>
												<td>005</td>
												<td>C-05</td>
												<td>NO DEFINIDO</td>
												<td><a onclick="cargarModalConfirmacion();" style="font-size: 12px; color:white;" class="btn btn-primary">Seleccionar</a></td>
											</tr>
											<tr>
												<td>1</td>
												<td>8:30</td>
												<td>000111</td>
												<td>Arenas Choque Asuncion</td>
												<td>Si</td>
												<td>9:50</td>
												<td>001</td>
												<td>005</td>
												<td>C-05</td>
												<td>NO DEFINIDO</td>
												<td><a onclick="cargarModalConfirmacion();" style="font-size: 12px; color:white;" class="btn btn-primary">Seleccionar</a></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="col-sm-6 pl-4">
					<div class="row">
						<div class="col-sm-12 pl-2" style="border: 1px solid rgba(128, 128, 128, 0.29);
            									border-radius: 9px;
            									margin-top: 1rem;
            			">
							<div class="row">
								<div class="col-sm-12">
									<span class="text-red">Elija fecha y medico, a quien le transferira los pacientes citados</span>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-4">
									<div class="input-style">
										<label for="txtNroDocumento" class="form-label">Fecha</label>
										<input type="date" name="name" value="" class="form-control" />
									</div>
								</div>
								<div class="col-sm-8">

								</div>
							</div>
							<div class="row">
								<div class="col-sm-5">
									<div class="input-style">
										<label for="txtNroDocumento" class="form-label">Especialidad</label>
										<input type="text" name="name" value="" class="form-control" />
									</div>
								</div>
								<div class="col-sm-7">

								</div>
							</div>
							<div class="row">
								<div class="col-sm-5">
									<div class="input-style">
										<label for="txtNroDocumento" class="form-label">Medico</label>
										<input type="text" name="name" value="" class="form-control" />
									</div>
								</div>
								<div class="col-sm-7">

								</div>
							</div>
							<div class="row pt-3">
								<div class="col-sm-12">
									<table class="table table-bordered table-hover table-responsive">
										<thead>
											<tr>
												<th>N°</th>
												<th>Hora</th>
												<th>Historia</th>
												<th>Paciente</th>
												<th>Confirmado</th>
												<th>Hora registro</th>
												<th>N°Cuenta</th>
												<th>N°Orden</th>
												<th>Consultorio</th>
												<th>Tipo Afiliado</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>1</td>
												<td>8:30</td>
												<td>000111</td>
												<td>Arenas Choque Asuncion</td>
												<td>Si</td>
												<td>9:50</td>
												<td>001</td>
												<td>005</td>
												<td>C-05</td>
												<td>NO DEFINIDO</td>
											</tr>
											<tr>
												<td>1</td>
												<td>8:30</td>
												<td>000111</td>
												<td>Arenas Choque Asuncion</td>
												<td>Si</td>
												<td>9:50</td>
												<td>001</td>
												<td>005</td>
												<td>C-05</td>
												<td>NO DEFINIDO</td>
											</tr>
											<tr>
												<td>1</td>
												<td>8:30</td>
												<td>000111</td>
												<td>Arenas Choque Asuncion</td>
												<td>Si</td>
												<td>9:50</td>
												<td>001</td>
												<td>005</td>
												<td>C-05</td>
												<td>NO DEFINIDO</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>
</div>