
@model Clinica2._0.DTO.CitaDTO
<div class="modal-dialog modal-md" style="max-width: 800px;" role="document">
	<div class="modal-content">
		<div class="modal-header bg-primary">
			<h2 class="modal-title text-center" id="exampleModalLabel1">Pago Cita Ambulatoria</h2>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>

		<div class="container pt-2 pb-4">
			@using (Html.BeginForm())
			{
				@Html.HiddenFor(m => m.idCita)
				<div align="center">
					<div align='left'>
						
					</div>
					<h4></h4>

					<h4></h4>


					<form action="#" class="credit-card-div">
						<div class="panel panel-default">
							<div class="panel-heading">

                                <div class="row mb-3">
                                    <div class="col-md-1 text-left">
                                        <label class="d-inline">Monto</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="text" class="d-inline form-control" placeholder="300" />
                                    </div>
                                    <div class="col-md-1 text-left">
                                        <label for="divisa" class="d-inline">Divisa</label>
                                     

                                       
                                    </div>
                                    <div class="col-md-3">
                                        <select name="divisa" class="form-control" id="divisa">
                                            <option value="soles">Soles</option>
                                            <option value="dolares">Dolares</option>

                                        </select>
                                    </div>

                                </div>
								<h4></h4>
                                <div class="row mb-3">
                                    <div class="col-md-1 text-left">
                                        <label class="d-inline">Cajero</label>
                                       

                                    </div>
                                    <div class="col-md-7">
                                        <input type="text" class="d-inline form-control" placeholder="Nombre cajero" />
                                    </div>
                                </div>
                                <div class="row mb-3 ">

                                    <div class="col-md-1 text-left">
                                        <label class="d-inline">Caja</label>
                                    </div>
                                    <div class="col-md-3">

                                        <input type="text" class="d-inline form-control" placeholder="CE001"/>
                                    </div>
                                    <div class="col-md-1 text-left">
                                        <label class="d-inline">Turno</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="text" class="d-inline form-control" placeholder="Nocturno" />

                                    </div>
                                </div>

								<h4></h4>

								<div class="row ">
                                    <div class="col-md-6 text-left">
                                        <input type="radio" id="conpos" name="pos" value="male">
                                        <label for="conpos">P.O.S</label>
                                        <input type="radio" class="ml-3" id="sinpos" name="pos" value="female">
                                        <label for="sinpos">SIN P.O.S</label><br>
                                    </div>
								</div>

								<h4></h4>
								<h4></h4>
								<div class="row" align="left">
									<div class="col-md-12 pad-adjust">
										
									</div>
								</div>
								<div align="left">

									<button class="btn btn-primary" >
										Pagar
									</button>

									<a style="color:white;" class="btn btn-danger" data-dismiss="modal" align="right">
										Cerrar
									</a>
								</div>

							</div>
						</div>
					</form>

				</div>
			}
		</div>

	</div>
</div>